$mdc-theme-primary: #1e88e5;
$mdc-theme-on-primary: #005cb2;
$mdc-theme-secondary: #6ab7ff;
$mdc-theme-on-secondary: #ffffff;
$mdc-theme-surface: #eeeeee;
$mdc-theme-on-surface: #ffffff;
$mdc-theme-background: #bcbcbc;
$mdc-theme-on-background: #ffffff;

@import "@material/select/mdc-select";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/floating-label/mdc-floating-label";

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  // background-color: #eeeeee;
  font-family: "Nunito", sans-serif;
  padding: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: auto 0;
}

section {
  margin-top: 50px;
}

#clock {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
}

footer {
  margin-top: 50px;
}
