@import "@material/select/mdc-select";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/floating-label/mdc-floating-label";

body {
  background-color: #eeeeee;
}

#clock {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
}

.mdc-select {
  width: 150px;
}
