$mdc-theme-primary: #0d47a1;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-secondary: #1e88e5;
$mdc-theme-on-secondary: #ffffff;
$mdc-theme-surface: #eeeeee;
$mdc-theme-on-surface: #0d47a1;
$mdc-theme-background: #ffffff;
$mdc-theme-on-background: #ffffff;

@import "@material/select/mdc-select";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/floating-label/mdc-floating-label";

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  // font-family: "Nunito", sans-serif;
  font-family: "IBM Plex Mono", monospace;
  padding: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: auto 0;
}

section {
  margin: 10px;
}

#date {
  text-align: center;
}

#clock {
  // font-family: "Nunito", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #1e88e5;
}

h1 {
  margin-top: 1%;
  color: #0d47a1;
}

h2 {
  margin: 5px;
  text-align: center;
  // padding: 10px;
}

.err-msg {
  color: red;
  font-style: italic;
  font-size: 13px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timePickr-btn {
  margin: 5px;
}

.mdc-text-field {
  width: 75%;
}

.breakLength-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.break-btn {
  margin: 5px;
}

#timeIn {
  font-size: 25px;
  text-align: center;
  color: #0d47a1;
}

footer {
  margin-top: 50px;
  font-size: 11px;
  font-style: italic;
}
